.home {
  position: relative;
  padding-inline: 2rem;

  .background {
    position: absolute;
    z-index: -1;
    inset: 0;

    img {
      width: 100%;
      height: 120vh;
      object-fit: cover;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(#1a1a2200 0 90vh, #1a1a22 110vh);
    }
  }

  .hero {
    height: calc(100vh - 70px);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: min(100%, 500px);

    .hero__label {
      background-color: black;
      border-radius: 1rem 1rem 1rem 0;
      padding: 0.5rem 1rem;
      color: #0dd;
      font-size: 1rem;
    }

    .hero__title {
      font-size: 3.5rem;
      color: white;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      line-height: 1em;
    }

    .hero__description {
      font-size: 1rem;
      color: white;
    }
  }

  .quote {
    text-align: center;
    margin-block: 10rem;
    position: relative;
    max-width: max-content;
    margin-inline: auto;

    h3 {
      color: white;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 3rem;
    }

    &::after {
      position: absolute;
      content: url("https://pogr.gg/static/right-quote.svg");
      right: -4rem;
      bottom: 0;
      transform: translate(100%, 50%);
      scale: 0.9;
    }

    &::before {
      position: absolute;
      content: url("https://pogr.gg/static/left-quote.svg");
      left: -4rem;
      top: 0;
      transform: translate(-100%, -50%);
      scale: 0.9;
    }
  }

  .interest {
    h3 {
      text-align: center;
      color: white;
      font-size: 1.5rem;
    }
    div {
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
      padding-top: 2rem;
      padding-bottom: 5rem;
    }
  }
}
