.layout {
  header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;

    li {
      opacity: 0.8;

      a {
        color: white;
        text-decoration: none;
      }

      &.active {
        opacity: 1;
        display: none;
      }
    }
  }
}
